@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.log-tittle {
  margin-bottom: 20px;
  color: #414535;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 0px;
  position: relative;
  z-index: 30;
}

.log-aktivitas {
  background: #c19875;
  width: auto;
  padding: 3px;
  align-items: center;
}

.log-aktivitas th,
.log-aktivitas td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.log-aktivitas th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.log-aktivitas tr:hover {
  background-color: #ddd;
}

.add-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #618985;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #618985;
}
