/* 

about coolkas brief

*/
.about {
  padding-bottom: 30px;
}

.about-brief {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5rem auto 3rem;
}

.column-about {
  padding: 5rem;
}

.column-about img {
  width: 80%;
  text-align: center;
  border-radius: 30px;
  transition: transform 0.3s;
}

.column-about img:hover {
  transform: scale(1.25);
  box-shadow: 0px 25px 100px 0px rgba(0, 0, 0, 0.3);
}

.column2 {
  margin: 4rem 8rem 0rem 0rem;
  text-align: right;
}

.column2 h1 {
  text-align: right;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #414535;
  margin-bottom: 1rem;
}

.column2 h1 span {
  overflow: hidden;
  background: linear-gradient(to right, #96bbbb, #96bbbb 50%, #414535 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.column2 h1 span:hover {
  background-position: 0 100%;
}

.column2 p {
  text-align: right;
  font-size: 24px;
  color: black;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.about #seeAbout .btn {
  background-color: #c19875;
  border: none;
  margin: 0rem auto 4rem;
  width: 80px;
  align-items: center;
}

.about #seeAbout .btn:hover {
  background: #80654e;
  color: white;
}

@media screen and (max-width: 1010px) {
  .about-brief {
    grid-template-columns: 1fr;
  }

  .column-about img {
    width: 40%;
  }

  .column-about {
    padding: 2rem;
  }

  .column2 {
    margin: 2rem 0rem 2rem 0rem;
    text-align: right;
  }

  .column2 h1 {
    text-align: center;
  }

  .column2 p {
    text-align: justify;
    font-size: 24px;
    color: black;
    margin-top: 1rem;
    margin-right: 2rem;
  }
}
