.heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.heading h1 {
  font-size: 50px;
  color: black;
  margin-bottom: 25px;
  position: relative;
}

.about-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  margin-left: 50px;
  overflow: hidden;
  border-radius: 30px;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}

.about-image:hover img {
  transform: scale(1.2);
}

.about-content {
  flex: 1;
  text-align: center;
}

.about-content p {
  font-size: 18px;
  line-height: 1.5;
  color: black;
  text-align: center;
}

.about-content h2 {
  font-size: 23px;
  margin-bottom: 15px;
}

.about-content h2 .red-text {
  color: #618985;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.about-content h2 .green-text {
  color: #414535;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: capitalize;
}

.hitam-text {
  color: #414535;
  font-weight: bold;
}

.wrapper {
  text-align: center;
  margin: 20px auto;
}

h2 {
  font-size: 28px;
  color: #333;
}

.team_coolkas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.team_member {
  margin: 10px;
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  display: flex;
  justify-content: center;
}
.member_img img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.5s ease;
}

.member_img:hover img {
  transform: scale(1.2);
}

.team_member:nth-child(4),
.team_member:nth-child(5) {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  margin-top: 20px;
}
