@import "~bootstrap-icons/font/bootstrap-icons.css";

.contact {
  margin-top: 15px;
}

.form-contact {
  padding: 30px;
}

.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 8px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #618985;
}

.button-submit {
  padding: 10px 20px;
  background: #c19875;
  color: white;
}

.button-submit:hover {
  background: #80654e;
  color: white;
}

.info-container {
  margin: auto;
  height: 300px;
  background: #618985;
  padding: 20px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.3) 20px 20px 20px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.info-container h2 {
  color: white;
}

.d-flex {
  padding: 13px 0px;
}
.d-flex p {
  font-size: 18px;
  padding-left: 10px;
  overflow: auto;
}

.bi {
  font-size: 20px;
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {
  .container {
    width: 100%;
  }
}
