/* 

feature card

*/

.feature-card{
    margin: 4rem 5rem;
  }
  
  .feature-card h1{
    text-align: center;
    margin-bottom: 2rem;
    color: #414535;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .feature-card .card{
    border: none;
    background-color: #F0F1F2;
    border-radius: 20px;
  }
  
  .feature-card .card:hover{
    background-color: #F2E3BC;
    top: -10px;
    transition: 0.5s;
  }
  
  .feature-card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  .feature-card h5{
    font-size: 22px;
    font-weight: 600;
  }
  
  .feature-card .card-text{
    font-size: 16px;
  }
  