.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #618985;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0;
}

.footer p {
  margin: 0;
  color: white;
  font-size: 16px;
}

.blue-box {
  background-color: #618985;
  text-align: left;
  padding: 15px 10px;
  position: relative;
  padding-bottom: 2px;
}

.blue-box .blue-box-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 5px;
}

.blue-box img {
  width: 150px;
  height: 110px;
  border-radius: 8px;
  margin: auto 20px;
  vertical-align: middle;
}

.blue-box .text {
  color: #fff;
  font-size: 20px;
  /* margin-left: 12%; */
  /* flex: 1; */
}

.blue-box::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1px;
}

.blue-box .get-simplicity{
  font-size: 18px;
  text-align: center;
}

.blue-box p {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 180%;
}

.blue-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blue-box ul li a{
  font-size: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  justify-content: space-between;
}

.blue-box ul li a:hover{
  color: white;
}

.text,
.additional-text,
.lane,
.sosmed-box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
}

.additional-text li,
.lane li{
  padding: 0rem 0 0.5rem;
}

/* sosmed */

.sosmed-box {
  text-align: center;
}

.sosmed-box p {
  font-size: 18px;
  margin-bottom: 10px;
}

.sosmed-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.sosmed-icons li {
  margin: 0 10px;
  background-color: white;
  padding: 1.25rem 0rem;
  border-radius: 50px;
}

.sosmed-icons img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

@media screen and (max-width: 505px) {
  .logo-tagline,
  .text,
  .additional-text,
  .lane,
  .sosmed-box
  {
    padding: 1rem 0;
  }
   
}
