.body-login {
  padding: 50px 0px;
  background-color: #618985;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding-bottom: 35px;
  align-items: center;
}

.form-title-login {
  text-align: center;
  color: white;
  height: 60px;
  background-color: #c19875;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  position: relative;
  z-index: 4;
}

.form-group-login {
  margin: 40px 15px;
  margin-top: 50px;
}
.form-group {
  margin: 25px 20px;
  padding: 0 15px;
}

.label-login {
  display: block;
  margin-bottom: 5px;
  border-style: hidden;
}

.input-login {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  margin-top: 8px;
  margin: 5px;
}

.btn-group-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-login {
  text-align: center;
  width: 50%;
  padding: 12px 77px;
  background-color: #c19875;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.btn-regis {
  text-align: center;
  width: 50%;
  padding: 12px 66px;
  background-color: #c19875;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-regis:hover,
.btn-login:hover {
  background-color: #618985;
}
.small-text {
  padding-left: 27px;
  font-size: small;
}

.form-link {
  color: #007bff;
  text-decoration: none;
  margin: 10px;
  padding-right: 15px;
}

.form-link:hover {
  text-decoration: underline;
}

.home-icon {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #333;
  margin: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}
