/*
    AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: #618985;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar #hamburgerButton {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-left: 3rem;
}

.app-bar .app-bar__brand img {
  height: 80px;
}

  button {
    cursor: pointer;
    background: transparent;;
    border: none;
    font-size: 20px;
  }

  .app-bar .toggle {
    display: block;
    position: fixed;
    right: 80px;
    top: 25px;
    cursor: pointer;
    background: transparent;;
    border: none;
  }

  .menu-nav {
    position: absolute;
    background: #618985;
    top: 95px;
    left: 0;
    width: 0;
    padding-left: 0rem;
    z-index: 9999;
    font-size: 18px;
    box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
    transform: translateX(-100px);
    transition: transform ease-in-out 0.2s;
  }
  .menu-nav.show-menu {
    display: flex;
    flex-direction: column;
    width: 20%;
    transform: translateX(0px);
  }


  .main-nav, .nav-item{
    list-style: none;
    text-align: center;
  }

.app-bar .menu-nav li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}

.app-bar .menu-nav .dropdown-menu a {
  color: #618985;
  width: 100%;
}

.app-bar .menu-nav .main-nav a:hover,
.dropdown .nav-link:hover {
  color: #393e2b;
  border-bottom: 3px solid #393e2b;
  transition: 0.15s ease-in-out;
}

.app-bar .menu-nav .dropdown-menu a:hover {
  background-color: #618985;
  color: white;
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* 

RESPONSIVE 

*/

@media screen and (min-width: 1010px) {

  .app-bar {
    grid-template-columns: 1fr 2fr;
    padding: 8px 32px;
  }

  #hamburgerButton{
    display: none;
  }
  
  .menu-nav {
    position: static;
    margin: 0.8rem 0rem 0rem 10rem;
    display: flex;
    flex-direction: row;
    width: max-content;
    font-size: 18px;
    box-shadow: none;
  }

  .app-bar .menu-nav li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    margin: 1rem 3.5rem 1rem 0rem;
  }
  
  .app-bar .menu-nav .dropdown-menu a {
    color: #618985;
    width: 100%;
  }
  .app-bar .menu-nav .dropdown-menu li:hover {
    background-color: #618985;
    color: white;
    cursor: pointer;
  }
  
  .app-bar .menu-nav .main-nav a:hover,
  .dropdown .nav-link:hover {
    color: #393e2b;
    border-bottom: 3px solid #393e2b;
    transition: 0.15s ease-in-out;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }

}
