  /*
    AppBar
  */
   
  .app-bar {
    padding: 8px 16px;
    background-color: #618985;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 5px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
   
  .app-bar .app-bar__menu {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  /* hamburger button */
  .app-bar .app-bar__menu button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
  }
   
  .app-bar .app-bar__brand {
    display: flex;
    align-items: center;
  }

  .app-bar .app-bar__brand img {
    height: 80px;
  }
   
  .app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 25px 0px 0px;
    background-color:#618985;
  }
   
  .app-bar .app-bar__navigation.open {
    right: 0;
  }
   
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
  }

  .app-bar .app-bar__navigation .dropdown-menu a{
    color: #618985;
    width: 100%;
  }
  .app-bar .app-bar__navigation .dropdown-menu a:hover{
    background-color: #618985;
    color: white;
    cursor: pointer;
  }

  .app-bar .app-bar__navigation .main-nav a:hover , .dropdown .nav-link:hover {
    color: #393E2B;
    border-bottom: 3px solid #393E2B;
    transition: 0.15s ease-in-out;
  }

  .dropdown:hover .dropdown-menu{
    display: block;
  }



/* 

RESPONSIVE 

*/
  
  @media screen and (min-width: 1106px) {
    .app-bar {
      grid-template-columns: 1fr auto;
      padding: 8px 32px;
    }
    
    .app-bar .app-bar__menu {
      display: none;
      
    }

    .app-bar .app-bar__navigation {
      position: static;
      width: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
      display: inline-block;
    }
   
    .app-bar .app-bar__navigation ul li a {
      display: inline-block;
      width: 120px;
      text-align: center;
      margin: 0;
    }
   
  }
   
  @media screen and (min-width: 1200px) {

  }
