/* 

olah limbah 

*/

.olah-limbah {
  margin: 4rem auto;
}

.olah-limbah .container {
  width: 100%;
  padding: 3rem 5rem;
  border-radius: 25px;
  background: rgba(240, 241, 242, 0.5);
}

.container-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.olah-limbah .container .title-container h1 {
  text-align: right;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #414535;
  margin-bottom: 1rem;
}

.olah-limbah .container .title-container p {
  text-align: right;
  color: black;
  margin-bottom: 2rem;
}

.container-card .card p small {
  text-align: right;
}

.column-card1 {
  width: 50%;
  height: 100%;
  text-align: left;
  color: red;
}

.column-card1 h5 {
  font-size: 22px;
  font-weight: 700;
}

.column-card1 p {
  font-size: 14px;
}

.column-card1 .small {
  font-weight: 200;
  font-size: 12px;
  text-align: end;
}

.column-card1 .card {
  border-radius: 15px;
}

.column-card2 {
  flex-direction: column;
  width: 80%;
  height: 100%;
  text-align: left;
  justify-content: end;
}

.column-card2 img {
  border-radius: 0px 10px 10px 0px;
}

.column-card2 h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 5px;
}

.column-card2 p {
  font-size: 12px;
  margin: 0 auto 5px;
}

.column-card2 .small {
  font-weight: 200;
  font-size: 10px;
  text-align: start;
}

.column-card2 .card {
  border-radius: 15px;
}

.olah-limbah #seeOlah .btn {
  background-color: #c19875;
  border: none;
  margin: 2rem auto 0rem;
  width: 80px;
}
