.subjudul-dan-kategori {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
}

.subjudul {
  width: 100%;
  font-size: 25px;
  margin-top: 1rem;
  font-weight: 500;
}

#DropdownCategory {
  display: inline-flex;
  justify-content: end;
  width: 100%;
}

#DropdownCategory .kategori {
  width: 100%;
  text-align: right;
  font-size: 20px;
  margin: 0.8rem 0rem 0rem 0rem;
}

#DropdownCategory .dropdown-menu {
  text-align: right;
  margin: 3rem 0rem 0rem 1rem;
}

#dropdown-btn {
  border: 2px solid #c19875;
  border-radius: 8px;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  margin: 0.5rem 0rem 0rem 1rem;
}

.card table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card table td {
  padding-right: 5px;
}

.card #seeMore .btn {
  text-align: center;
  background-color: #c19875;
  border: none;
  width: fit-content;
  margin: 0;
}

.card #seeMore .btn:hover {
  background: #80654e;
  color: white;
}
